body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  #adminlogin .view {
    background-image: url("../../image/bookstore.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #adminlogin .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #adminlogin .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #adminlogin h6 {
    line-height: 1.7;
  }
  
  #adminlogin .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #adminlogin .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #adminlogin .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #adminlogin label {
    color: #fff !important;
  }