#bookstore .view {
    background-image: url("../../image/bookstore.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
  
  #bookstore .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #bookstore .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #bookstore h6 {
    line-height: 1.7;
  }
  
  #bookstore .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #bookstore .top-nav-collapse {
    background: #424f95 !important;
  }
  
  @media (max-width: 768px) {
    #bookstore .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #bookstore label {
    color: #fff !important;
  }

#imgcard{
 
            height: 15vw;
            object-fit: cover
}